<div class="bg-slate-800 p-5 rounded-xl border-l-4 transition-all duration-300 hover:scale-[1.01] shadow-md flex justify-between items-center"
     [ngClass]="tarea.completada ? 'border-slate-500 opacity-75' : 'border-emerald-500'">
  
  <div class="flex flex-col gap-1">
    <h3 class="font-bold text-lg" 
        [ngClass]="{'line-through text-slate-500': tarea.completada, 'text-white': !tarea.completada}">
      {{ tarea.titulo }}
    </h3>
    <p class="text-slate-400 text-sm italic">{{ tarea.descripcion || 'Sin descripción' }}</p>
  </div>

  <div class="flex items-center gap-3">
    <span class="text-[10px] uppercase tracking-widest px-2 py-1 rounded font-bold"
          [ngClass]="tarea.completada ? 'bg-slate-700 text-slate-400' : 'bg-emerald-500/10 text-emerald-400 border border-emerald-500/20'">
      {{ tarea.completada ? 'Finalizada' : 'Pendiente' }}
    </span>
  </div>
</div>